.container {
  color: #000;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.discountText {
  cursor: pointer;
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  padding-bottom: 5px;
  color: rgba(245, 158, 11, 0.5);
}
.selectedText {
  color: #10b981;
  border-bottom: 8px solid #10b981;
  z-index: 1;
}
.dividerRoot {
  position: absolute;
  bottom: 0;
}
.divider {
  width: 500px;
  height: 7px !important;
  background-color: rgba(245, 158, 11, 0.5) !important;
}
.cardSpacing {
  padding: 16px 16px 16px 130px !important;
  max-height: 700px;
  margin-right: 5px;
}
.skeleton {
  margin-top: 10px;
  border-radius: 30px;
}
